/* Styling for homepage */

:root {
    --blue: #6ca1b6;
    --dark: #3f3f3f;
  }
  header {
    text-align: center;
    color: #FFF;
    margin: 30px;
  }

.col{
  flex-grow: 0;
}

.row{
  flex-grow: 0;
}
  body {
    background-color: #6ca1b6;
  }
  
  .i {
    color: #6ca1b6;
    margin: 0px auto;
  }
  
  a.btn {
    color: #6ca1b6;
    text-align: center;
  }


.card h6{
    padding-top: 15px;
    text-decoration: none;
}

  a{
    font-family: 'Kanit', sans-serif;
    color: var(--blue);
  }

  a:hover{
    text-decoration: none;
    color: var(--blue);
  }

  h1 {
    font-size: 60px;
    padding-top: 30px;
    text-decoration: none;
    font-family: 'Arvo', serif;
  }

  h5{
    text-decoration: none;
    font-family: 'Arvo', serif;
    padding-bottom: 60px;
    border-bottom: 2px solid #FFF;
  }
  @media (max-width: 2560px) {
    .box {
      width: 10vw;
      margin: 10px 20px;
    }
  }
  @media (max-width: 1440px) {
    .box {
      width: 17vw;
      margin: 10px 20px;
    }
  }
  @media (max-width: 768px) {
    .box {
      width: 40vw;
      margin: 10px 0px;
    }
}
  @media (max-width: 426px) {
    .box {
      width: 84vw;
      margin: 10px 20px;
    }
}

@media (max-width: 376px) {
  .box {
    width: 80vw;
    margin: 10px 20px;
  }
}



