:root {
  --blue: #6ca1b6;
  --dark: #3f3f3f;
}
header {
  text-align: center;
  padding: 10px;
  color: #fff;
  text-decoration: underline;
  background-color: #6ca1b6;
  border-radius: 20px;
}

.navbar {
  background-color: var(--blue);
}
body {
  background-color: #6ca1b6;
  background-repeat: no-repeat;
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
}

.i {
  width: 100%;
  color: #6ca1b6;
}

.hidden{
    display: none;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 0px 20px;
}
a.btn {
  color: #6ca1b6;
  text-align: center;
}
.box {
  border-radius: 20px;
  padding: 10px;
  flex: 0 0 200px;
  margin: 20px;
  background-color: white;
}
.products {
  flex: 4;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
.hidden {
  display: none;
}

.display {
  display: block;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
  font-family: "Arvo", serif;
}
h1 {
  font-size: 60px;
  padding-top: 60px;
}

label {
  font-family: "Kanit", sans-serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}
input[type="radio"] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: var(--blue);
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid var(--blue);
  border-radius: 15%;
  margin: 4px 4px 0px 0px;
  height: 40px;
  width: 40px;
}

input[type="radio"]:active {
  background-color: var(--blue);
}

#selectBodypart {
  padding: 20px 0px;
}

label {
  font-size: 20px;
  padding-top: 8px;
  color: var(--dark);
}

#displayBodypart {
  text-transform: capitalize;
}

.card {
  height: 50vh;
  width: 80vw;
}
